html, body{
	margin:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
#options{
	position: absolute;
	left: 0;
	width:200%;
	height:100%;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.5);
	transition: left, background-color;
	transition-duration: 0.3s;
	animation-timing-function: linear;
	z-index: 10;
}
#optionsPanel{
	position:relative;
	left:0;
	background:white;
	width:500px;
	height:100%;
	padding:20px;
	box-sizing: border-box;
	box-shadow: 0 0 20px #555;
}
#main{
	position: absolute;
	left: 0;
	width:100%;
	height:100%;
	padding:20px;
	box-sizing: border-box;
	transition: left 0.5s;
	animation-timing-function: linear;

}
#GCODEviewer{
	background: #1d1f20;
	border: 1px solid gray;
	height:100%;
	width:40%;
	float:left;
	border-radius: 3px;
	overflow: hidden;
}
#GCODElist{
	position: relative;
	height:100%;
	width:100%;
	top:50%;
	background: #1d1f20;
	color: #5e6566;
	font-family: consolas;
	font-size: 1.5em;
	line-height: 1.5em;
	white-space: nowrap;
	counter-reset: line;
	transition: margin-top;
	transition-duration: 0.3s;
	animation-timing-function: linear;
}
#GCODElist div{
	counter-increment: line;
}
#GCODElist div:before{
	background: #1d1f20;
	content: counter(line);
	width:4ch;
	display:inline-block;
	text-align: right;
	padding-left: 0.5ch;
	padding-right:1ch;
	margin-right: 0.5ch;
}
#GCODElist .line{
	transition: background 0.5s;
}
#GCODElist .line:before{
	transition: background 0.5s;
}
#GCODElist .validLine{
	background: #272a2b;
}
#GCODElist .activeLine{
	background: #24651d;
	color:#98a4a6 !important;
}
#GCODElist .activeLine:before{
	background: #24651d !important;
	color:#98a4a6 !important;
}
